In [ ]:
# cleaning operations in pandas
Step 1: Read the Data
Step 2: Handle Missing Values
Step 3: Standardize Column Values
Step 4: Convert Data Types
Step 5: Remove Duplicates
Step 6: Verify the Data

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Bengaluru_House_Dataaws.csv")

In [5]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [11]:
df = df.head(52)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     50 non-null     object
 1   availability  50 non-null     object
 2   location      50 non-null     object
 3   size          50 non-null     object
 4   society       32 non-null     object
 5   total_sqft    50 non-null     object
 6   bath          50 non-null     float64
 7   balcony       44 non-null     float64
 8   price         50 non-null     float64
dtypes: float64(3), object(6)
memory usage: 3.6+ KB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     50 non-null     object
 1   availability  50 non-null     object
 2   location      50 non-null     object
 3   size          50 non-null     object
 4   society       32 non-null     object
 5   total_sqft    50 non-null     object
 6   bath          50 non-null     float64
 7   balcony       44 non-null     float64
 8   price         50 non-null     float64
dtypes: float64(3), object(6)
memory usage: 3.6+ KB

In [23]:
df.isnull().sum()

area_type        0
availability     0
location         0
size             0
society         18
total_sqft       0
bath             0
balcony          6
price            0
dtype: int64

In [29]:
df['society'].fillna('unknown', inplace=True)
df['balcony'].fillna(df['balcony'].median() , inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_8788\1872536890.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['balcony'].fillna(df['balcony'].median() , inplace = True)

In [30]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [31]:
# standardize the data 
df['size'] = df['size'].str.extract('(\d+)').astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\USER\AppData\Local\Temp\ipykernel_8788\2713985781.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['size'] = df['size'].str.extract('(\d+)').astype(float)

In [32]:
# converting datatypes
import numpy as np

def convert_sqft(values):
    try:
        if'_' in value:
            values = list(map(float , value.split('_')))
            return np.mean(values)
        return float(value)
    except :
        return np.nan

df['total-sqft']=df['total_sqft'].apply(convert_sqft)

In [33]:
df.drop_duplicates(inplace=True)

In [35]:
df.info()
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     50 non-null     object
 1   availability  50 non-null     object
 2   location      50 non-null     object
 3   size          50 non-null     float64
 4   society       50 non-null     object
 5   total_sqft    50 non-null     object
 6   bath          50 non-null     float64
 7   balcony       50 non-null     float64
 8   price         50 non-null     float64
 9   total-sqft    0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 4.0+ KB
area_type        0
availability     0
location         0
size             0
society          0
total_sqft       0
bath             0
balcony          0
price            0
total-sqft      50
dtype: int64

In [36]:
df.describe()

            size       bath    balcony       price  total-sqft
count  50.000000  50.000000  50.000000   50.000000         0.0
mean    2.760000   2.700000   1.500000  105.571200         NaN
std     1.204752   1.446318   0.795395  110.724755         NaN
min     1.000000   1.000000   0.000000   15.000000         NaN
25%     2.000000   2.000000   1.000000   41.250000         NaN
50%     3.000000   2.000000   1.500000   61.000000         NaN
75%     3.000000   3.000000   2.000000  122.750000         NaN
max     8.000000   9.000000   3.000000  600.000000         NaN

In [ ]:
#DQI finding
DQI by analyzing:

1️⃣ Completeness – Checking for missing values.
2️⃣ Validity – Ensuring correct data types and formats.
3️⃣ Uniqueness – Checking for duplicates.
4️⃣ Consistency – Ensuring uniform formats (e.g., "2 BHK" vs "2BHK").
5️⃣ Accuracy – Identifying outliers and incorrect values

In [38]:
#1️⃣ Completeness – Checking for missing values.
missing_values =df.isnull().sum()
missing_percentage =(df.isnull().sum()/len(df))*100

print(pd.DataFrame({'missing values':missing_values,'misssing%':missing_percentage}))

              missing values  misssing%
area_type                  0        0.0
availability               0        0.0
location                   0        0.0
size                       0        0.0
society                    0        0.0
total_sqft                 0        0.0
bath                       0        0.0
balcony                    0        0.0
price                      0        0.0
total-sqft                50      100.0

In [39]:
#2️⃣ Validity – Ensuring correct data types and formats.
print(df.dtypes)

area_type        object
availability     object
location         object
size            float64
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
total-sqft      float64
dtype: object

In [40]:
#3️⃣ Check Uniqueness (Duplicates)
duplicate_rows = df.duplicated().sum()
print(f"total duplicate rows : {duplicate_rows}")
# if duplicates found use below command
#✅ Action: Remove duplicates using df.drop_duplicates(inplace=True).

total duplicate rows : 0

In [41]:
#4️⃣ Check Consistency (Standard Formats)

print(df['size'].unique())
#✅ Action: Extract numeric values using df['size'].str.extract('(\d+)').astype(float).

[2. 4. 3. 6. 1. 8.]

In [42]:
# 5️⃣ Check Accuracy (Outliers & Wrong Values)
print(df.describe())

            size       bath    balcony       price  total-sqft
count  50.000000  50.000000  50.000000   50.000000         0.0
mean    2.760000   2.700000   1.500000  105.571200         NaN
std     1.204752   1.446318   0.795395  110.724755         NaN
min     1.000000   1.000000   0.000000   15.000000         NaN
25%     2.000000   2.000000   1.000000   41.250000         NaN
50%     3.000000   2.000000   1.500000   61.000000         NaN
75%     3.000000   3.000000   2.000000  122.750000         NaN
max     8.000000   9.000000   3.000000  600.000000         NaN

In [47]:
#Final DQI Report
dqi_report = {
    "Missing Values %": round(df.isnull().sum().mean(), 2),
    "Duplicate Rows %": round((df.duplicated().sum() / len(df)) * 100, 2),
    "Invalid Data Types": df.dtypes[df.dtypes == 'object'].count(),
    "Outliers": df.describe().loc[['min', 'max']]
}

print(pd.DataFrame(dqi_report))

ValueError: If using all scalar values, you must pass an index

In [ ]:
# Why Does This Fix Work?
# "Outliers" is a DataFrame, while the other keys contain single values.
# Solution: Print it separately.
# df.dtypes[df.dtypes == 'object'].count() was replaced with df.select_dtypes(include=['object']).shape[1] for better clarity.

In [49]:
dqi_report = {
    "Missing Values %": round(df.isnull().sum().mean(), 2),
    "Duplicate Rows %": round((df.duplicated().sum() / len(df)) * 100, 2),
    "Invalid Data Types": df.select_dtypes(include=['object']).shape[1]  # Count object-type columns
}

# Convert the dictionary into a DataFrame
dqi_df = pd.DataFrame([dqi_report])

# Print the Data Quality Index (DQI)
print(" Data Quality Index Report:")
print(dqi_df)

# Print Outliers Separately
print("\n Outliers (Min/Max Values):")
print(df.describe().loc[['min', 'max']])

 Data Quality Index Report:
   Missing Values %  Duplicate Rows %  Invalid Data Types
0               5.0               0.0                   5

 Outliers (Min/Max Values):
     size  bath  balcony  price  total-sqft
min   1.0   1.0      0.0   15.0         NaN
max   8.0   9.0      3.0  600.0         NaN